.page-product {
    .func-wrap {
        overflow: hidden;
      // padding-bottom: 3rem;
        position: relative;
        height: (1500/$calc-base-num)*$global-font-unit;
    }

    .run-img {
        width: 100%;
        overflow: hidden;
        height: (600/$calc-base-num)*$global-font-unit;
    }

    .run-img img {
        width: 64%;
       // height: 100%;
        position: absolute;
    }

    .rock-img {
        width: 100%;
        position: relative;
        overflow: hidden;
        height: (600/$calc-base-num)*$global-font-unit;
    }

    .rock-img img {
        width: 36%;
       // height: 100%;
        right: 0;
        position: absolute;
    }

    .func-desc {
        position: absolute;
        top: (327/$calc-base-num)*$global-font-unit;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .func-desc >div{
        width: 35.1%;
    }

    .func-desc >img{
        width: 35.1%;
    }

    .func-desc-line {
        height: (22/$calc-base-num)*$global-font-unit;
        width: 100%;
        background-color: #006965;
        margin-top: (180/$calc-base-num)*$global-font-unit;
    }

    .func-desc-title {
        white-space: nowrap;
        font-size: (80/$calc-base-num)*$global-font-unit;
        font-weight: 600;
        line-height: (90/$calc-base-num)*$global-font-unit;
        font-family: DIN-Medium ,$global-default-family;
    }

    .func-title-all{
        margin-top: (26/$calc-base-num)*$global-font-unit;
    }

    .func-desc-content {
        font-size: (40/$calc-base-num)*$global-font-unit;
        line-height: (50/$calc-base-num)*$global-font-unit;
        color: rgba(17,17,17,1);
        font-weight:bold;
        margin-top: (25/$calc-base-num)*$global-font-unit;
        font-family: NotoSansCJKjp-Bold ,$global-default-family;
    }

    .func-desc-content :nth-child(2) {
        white-space: nowrap;
    }

    .func-desc-detial {
        font-size: (17/$calc-base-num)*$global-font-unit;
        margin-top: (28/$calc-base-num)*$global-font-unit;
        font-weight:400;
        line-height:1.4;
        font-family: NotoSansCJKjp-Bold,$global-default-family;
    }

    .battery-main {
        margin-top: (60/$calc-base-num)*$global-font-unit;
        background-color: #fff;


    }

    // .battery-banner {
    //     background-image: url('../image/product2/battery_BG.png');
    //     background-repeat:  no-repeat;
    //     background-size: cover;
    //     height: (750/$calc-base-num)*$global-font-unit;
    // }

    .battery-content {
       // margin-top: (286/$calc-base-num)*$global-font-unit;
        padding-top: (286/$calc-base-num)*$global-font-unit;
        width: 100%;
        height: 100%;

    }

    .battery-list {
        display: flex;
        justify-content: space-between;
    }

    .battery-list li {
        width: (489/$calc-base-num)*$global-font-unit;
        min-width: 33%;
        height: (163/$calc-base-num)*$global-font-unit;
        display: flex;
        justify-content: center;
     //   align-items: center;
        flex-direction: column;
        border: 5px solid #fff;
        color: #fff;
        padding: (24/$calc-base-num)*$global-font-unit;
        font-size: (17/$calc-base-num)*$global-font-unit;
        line-height: (26/$calc-base-num)*$global-font-unit;
        font-weight: normal;
        position: relative;
    }

    .battery-list li::before {
        content: '';
        top: (45/$calc-base-num)*$global-font-unit;
        left:-(30/$calc-base-num)*$global-font-unit;
        height: (52/$calc-base-num)*$global-font-unit;
        width: (20/$calc-base-num)*$global-font-unit;
        background-color: #fff;
        position: absolute;

    }

    .battery-list :nth-child(1) {
        white-space: nowrap;
        font-size: (40/$calc-base-num)*$global-font-unit;
        font-weight: bold;
        color: rgba(255,255,255,1);
        line-height: (53/$calc-base-num)*$global-font-unit;
        letter-spacing: 5px;
    }

    .battery-list :nth-child(2) {
        line-height: 1.2;
    }

    .battery-sum  {
        margin-top: (106/$calc-base-num)*$global-font-unit;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: (48/$calc-base-num)*$global-font-unit;
        line-height: (56/$calc-base-num)*$global-font-unit;
        letter-spacing: 8px;
        font-weight: 500;
        color: #fff;
    }

    .fun-list {
    
        margin-top: (194/$calc-base-num)*$global-font-unit;
    }

    .fun-list-all {
        padding-top: (194/$calc-base-num)*$global-font-unit;
        padding-bottom: (194/$calc-base-num)*$global-font-unit;
        width: 100%;
        line-height: 1.4;
        margin: 0 auto;
        //height: (780/$calc-base-num)*$global-font-unit;
       
    }

    .fun-list-all li{
        height: (173/$calc-base-num)*$global-font-unit;
        width: 48%;
        float: left;
        display: flex;
        // align-items: center;
    }

    .fun-list-all >:nth-child(2) {
        margin-left: 4%;
    }

    .fun-list-all >:nth-child(3) {
        margin-top: (101/$calc-base-num)*$global-font-unit;
    }

    .fun-list-all >:nth-child(4) {
        margin-left: 4%;
        margin-top: (101/$calc-base-num)*$global-font-unit;
    }

    .kinds-icon {
        display: flex;
        justify-content: space-between;
        margin-top: (92/$calc-base-num)*$global-font-unit;
    }

    .func-item-desc {
        flex: 1;
       
    }

    .func-item-desc p {
        line-height: 1.6;
    }

    .func-item-desc :nth-child(1) {
        font-size: (24/$calc-base-num)*$global-font-unit;
        font-family: NotoSansCJKjp-Bold,$global-default-family;

    }

    .func-item-desc :nth-child(2) {
        margin-top: (17/$calc-base-num)*$global-font-unit;
        font-size: (17/$calc-base-num)*$global-font-unit;
       // line-height: .34666rem;
       font-family: NotoSansCJKjp-Regular,$global-default-family;
    }

    .func-item-desc :nth-child(3) {
      
        font-size: (17/$calc-base-num)*$global-font-unit;
       // line-height: .34666rem;
       font-family: NotoSansCJKjp-Regular,$global-default-family;
    }

    .func-item-img {
        height: 100%;
        margin-left: (15/$calc-base-num)*$global-font-unit;
    }

    .func-item-img img{
        height: 100%;
    }

    // .heatset-banner {
    //  //   background:url('../image/product1/box.png');
    //     // background-repeat: no-repeat;
    //     // background-size: 100%;
    //   height: (441/$calc-base-num)*$global-font-unit;
    //   margin-top: (124/$calc-base-num)*$global-font-unit;
    //   overflow: hidden;
    // }

    // .heatset-banner-list >li {
    //     transition: all map_get($global-time, scroll);
    //     opacity: 0;
    //     transform: translate(0,200px);
    // }

    // .heatset-banner-list {
    //     position: relative;
    // }

    // .heatset-banner-list :nth-child(1){
    //     position: absolute;
    //     transition-delay: .4s;
    // }

    // .heatset-banner-list :nth-child(2){
    //     position: absolute;
    //     left: (323/$calc-base-num)*$global-font-unit;
    //     transition-delay: .2s;
    // }

    // .heatset-banner-list :nth-child(3){
    //     position: absolute;
    //     left: (668/$calc-base-num)*$global-font-unit;
        
    // }

    // .heatset-banner-list li img{
    //     height: (441/$calc-base-num)*$global-font-unit;
    // }




    .heatset-color {
        height: (1000/$calc-base-num)*$global-font-unit;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #b2b3b4;
        border-top: 1px solid  #b2b3b4;
    }

    .heatset-color-main {
        height: 100%;

    }

    .color-li {
        float: left;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .color-li >p {
        font-size: (48/$calc-base-num)*$global-font-unit;
        line-height: (56/$calc-base-num)*$global-font-unit;
        font-weight: bold;
        font-family: DIN-Medium ,$global-default-family;
    }

    .color-list {
        margin-top: (48/$calc-base-num)*$global-font-unit;
    }

    .color-list li {
        display: inline-block;
        margin-left: (20/$calc-base-num)*$global-font-unit;
    }

    .color-list :nth-child(1) {
        width: (19/$calc-base-num)*$global-font-unit;
        height: (19/$calc-base-num)*$global-font-unit;
        border-radius: 100px;
        background-color: #000;
    }

    .color-list :nth-child(2) {
        width: (19/$calc-base-num)*$global-font-unit;
        height: (19/$calc-base-num)*$global-font-unit;
        border-radius: 100px;
        background-color: #f5f5f5;
    }


    .color-list :nth-child(3) {
        width: (19/$calc-base-num)*$global-font-unit;
        height: (19/$calc-base-num)*$global-font-unit;
        border-radius: 100px;
        background-color: #ff0021;
    }

    .color-list :nth-child(4) {
        width: (19/$calc-base-num)*$global-font-unit;
        height: (19/$calc-base-num)*$global-font-unit;
        border-radius: 100px;
        background-color: #a0b779;
    }

    .color-list :nth-child(5) {
        width: (19/$calc-base-num)*$global-font-unit;
        height: (19/$calc-base-num)*$global-font-unit;
        border-radius: 100px;
        background-color: #939392;
    }

    .color-prod {
        float: left;
        width: 50%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .color-prod li{
        display: inline-block;
        width: (180/$calc-base-num)*$global-font-unit;
    }

    .color-prod li img{
       width: 100%;
    }

    .top :nth-child(2) {
        margin-left: (80/$calc-base-num)*$global-font-unit;
    }

    .bottom {
        margin-top: (50/$calc-base-num)*$global-font-unit;
        white-space: nowrap;
    }

    .bottom :nth-child(2) {
        margin-left: (80/$calc-base-num)*$global-font-unit;
    }

    .bottom :nth-child(3) {
        margin-left: (80/$calc-base-num)*$global-font-unit;
    }

    .use-manual {
        background-color: #fff;
        height: (1017/$calc-base-num)*$global-font-unit;;
        border-bottom: 1px solid #b2b3b4;
    }

    .use-manual-main {
        padding: (180/$calc-base-num)*$global-font-unit 0;
        height: 100%;

    }

    .use-manual-img {
        width: 50%;
        text-align: center;
        float: left;


    }

    .use-manual-desc {
       // padding-left: (42/$calc-base-num)*$global-font-unit;
        width: 45%;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
       // padding-right: (100/$calc-base-num)*$global-font-unit;
    }

    .use-manual-img img {
        width: (595/$calc-base-num)*$global-font-unit;
        display: inline-block;
    }

    .manual-title {
        white-space: nowrap;
        font-size:(40/$calc-base-num)*$global-font-unit;
        font-weight:bold;
        color:rgba(0,0,0,1);
        line-height:(56/$calc-base-num)*$global-font-unit;
        letter-spacing:5px;
        display: flex;
        justify-content: space-between;
        font-family: DIN-Medium ,$global-default-family;
    }

    .manual-title :nth-child(2) {
        flex: 1;
        text-align: center;
    }

    .manual-title div {
        display: inline-block;
        
    }

    .white-title {
        padding: 12px 12px;
        background-color: #0698ec;
        color: #fff;
    }

    .black-title {
        padding: 12px 12px 12px 0;
    }

    .manual-desc {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: (60/$calc-base-num)*$global-font-unit;
    }

    .left-desc {
        font-size:(20/$calc-base-num)*$global-font-unit;
        font-weight:bold;
        color:rgba(0,0,0,1);
        line-height:(30/$calc-base-num)*$global-font-unit;
        font-family: NotoSansCJKjp-Bold ,$global-default-family;
    }

    .right-desc {
        padding: (17/$calc-base-num)*$global-font-unit;
        border: 2px solid #0698ec;
        font-size:(15/$calc-base-num)*$global-font-unit;
        border-radius: 3px;
        font-weight:bold;
        color:rgba(33,150,243,1);
        line-height:(17/$calc-base-num)*$global-font-unit;
        letter-spacing:2px;
        font-family: DIN-Medium ,$global-default-family;
    }

    .right-desc:hover {
        background-color: rgba(33,150,243,1);
        color: #fff;
    }

    .use-manual-desc :nth-child(3) {
        margin-top: (40/$calc-base-num)*$global-font-unit;
    }

    .include-wrap {
        width: 100%;
        height: (352/$calc-base-num)*$global-font-unit;
        background-color: #fff;
        border-bottom: 1px solid #b2b3b4;
    }

    .include-wrap-desc {
        width: 50%;
        height: 100%;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .include-img {
        width: 50%;
        height: 100%;
        float: left;
        display: flex;
        align-items: center;

    }

    .include-wrap-desc :nth-child(1) {
        font-size:(48/$calc-base-num)*$global-font-unit;
        font-weight:bold;
        color:rgba(17,17,17,1);
        line-height:(56/$calc-base-num)*$global-font-unit;
        letter-spacing:8px;
        font-family: DIN-Medium ,$global-default-family;
    }

    .include-wrap-desc :nth-child(2) {
        margin-top: (34/$calc-base-num)*$global-font-unit;
        font-size:(16/$calc-base-num)*$global-font-unit;
        font-weight:bold;
        color:rgba(17,17,17,1);
        font-family: NotoSansCJKjp-Bold ,$global-default-family;
    }

    .include-img img {
        width: (649/$calc-base-num)*$global-font-unit;
    }

    .product-imglist {
        width: 100%;
        height: (318/$calc-base-num)*$global-font-unit;
        background-color: #fff;
    }

    .product-imglist-main {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .product-imglist-main >:nth-child(1),
    .product-imglist-main >:nth-child(2) {
        background-size: 100%;
        width: 48%;
        height: 80%;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .product-imglist-main >:nth-child(1) {
        background-image: url('../image/product/product1.png');
    }
    .product-imglist-main >:nth-child(2) {
        background-image: url('../image/product/product2.png');
    }

    .product1-img {
        position: absolute;
        right: (60/$calc-base-num)*$global-font-unit;
        bottom: 0;
        z-index: 30;
        height: 70%;
    }

    .product2-img {
        position: absolute;
        left: (95/$calc-base-num)*$global-font-unit;
        bottom: 0;
        z-index: 30;
        height: 70%;
    }

    .product-info {
        position: absolute;
        width: 98%;
        height: 94%;
        margin-left: 1%;
        margin-top: 1%;
        border: 1px solid #fff;
        z-index: 40;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .product-info >:nth-child(1) {
        font-size: (80/$calc-base-num)*$global-font-unit;
        line-height: (94/$calc-base-num)*$global-font-unit;
        color: #fff;
        font-weight: 500;
    }

    .product-info >:nth-child(2) {
        font-size: (20/$calc-base-num)*$global-font-unit;
        color: #fff;
    }
    .product-imglist-img {
        &:hover {
            .product-hover {
                opacity: 1;
            }
        }
    }

    .product-hover {
        transition: all map_get($global-time, transition);
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.3);
        z-index: 20;
        transition: all map_get($global-time, transition);
        opacity: 0;
        // display: none;
    }

    .product-hover-black {
        opacity: 1;
    }

    .product-show1 {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 50;
    }

    .product-show2 {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 50;
    }

    .phone {
        display: none;
    }

    .pc {
        display: block;
    }

    .phone-banner {
        display: none;
    }

    .phone-fun-desc {
        display: none;
    }

    .phone-battery-info {
        display: none;
    }

    .phone-battery-sum {
        display: none;
    }

    .fun-sounds {
        display: flex;
       // flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .fun-sounds-content {
        flex: 1;
        width: 100%;
        
    }

   
    .fun-sounds-img {
        width: 100%;
        display: flex;
       
        align-items: center;
        flex: 1;
    }

    .fun-sounds-img img{
        width: 86%;
       
    }

   .fun-sounds-effect {
        margin-top: (42/$calc-base-num)*$global-font-unit;
        font-size:(16/$calc-base-num)*$global-font-unit;
        font-family:DINAlternate-Bold,$global-default-family;
        font-weight:bold;
        color:rgba(17,17,17,1);
        line-height:(19/$calc-base-num)*$global-font-unit;;
        letter-spacing:6px;
       
    }

    .fun-sounds-title { 
        margin-top: (22/$calc-base-num)*$global-font-unit;
        font-size:(35/$calc-base-num)*$global-font-unit;
        font-family:NotoSansCJKjp-Bold,$global-default-family;
        font-weight:bold;
        color:rgba(17,17,17,1);
        line-height:(29/$calc-base-num)*$global-font-unit;
       
    }

    .fun-sounds-desc {
        width: 68%;
        margin-top: (18/$calc-base-num)*$global-font-unit;
        font-size:(17/$calc-base-num)*$global-font-unit;
        font-family:NotoSansCJKjp-Regular,$global-default-family;
        font-weight:400;
        color:rgba(17,17,17,1);
        line-height:(26/$calc-base-num)*$global-font-unit;
    }
}


@media screen and (max-width: map_get($global-width, mediaW)) {
    // .page-product .main-wrap {
    //     padding: 0;
    // }

    .page-product .product2-phone-color {
        color: #fff !important;
    }
    .page-product .product1-phone-color {
        color: #000 !important;
    }
    .page-product .pc {
        display: none;
    }

    .page-product .phone {
        display: block;
    }

    .page-product .banner-wrap {
        position: fixed ;
        left: 0;
        top: 0;
    }

    .page-product1 .banner-desc {
        display: none;
    }

    .page-product .phone-wrap {
        position: relative;
        max-width: 100%;
        height: 100%;
        background: #fff;
      //  top:-100vh;
    }

    .page-product .banner-content-posi {
        display: none;
    }

    .page-product .phone-banner {
        display: block;
        position: relative;
      //  top:-100vh;
        // height: 200vh;
    }

    .page-product .main-wrap {
       // height: calc(100% - 100vh);
    }

    .page-product .phone-banner div{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .page-product .phone-banner :nth-child(1) {
       

    }
    //(109/$calc-sp)*$global-font-unit;
    .phone-banner-title img {
        max-width: 75%;
        max-height: 75vh;

    }

    .phone-banner-title p {
        font-family: NotoSansCJKjp-Regular,$global-default-family;
     //   color:rgba(255,255,255,1);
        line-height:(45/$calc-sp)*$global-font-unit;
        letter-spacing:3px;
        font-size:(22/$calc-sp)*$global-font-unit;
    }

    .phone-banner-font {
        font-size:(14/$calc-sp)*$global-font-unit !important;
    }

    .phone-banner-desc p{
        width: 75%;
        font-size:(20/$calc-sp)*$global-font-unit;
        font-family:$global-default-family;
       // font-weight:bold;
       // color:rgba(255,255,255,1);
        line-height:(25/$calc-sp)*$global-font-unit;
    }

    .page-product .phone-banner-img1{
        display: flex !important;
        flex-direction: row !important;
    }

    .phone-banner-img1 img{
      //  width: 35%;
        height: (232/$calc-sp)*$global-font-unit;;
        margin-left: (15/$calc-sp)*$global-font-unit;;
    }
    
    // .page-product .func-desc>img {
    //     width: 87.5%;
    //     // width: 100%;
    //     // padding: 0 20px;
    // }

    .phone-banner-img img{
        max-width: 75%;
        max-height: 75vh;
    }
    
    .page-product .func-desc>img {
        width: 87.5%;
        // width: 100%;
        // padding: 0 20px;
    }

    .page-product .func-wrap {
        height: auto;
        padding-bottom: (350/$calc-sp)*$global-font-unit;
    }

    .page-product .rock-img {
        margin-top:(113/$calc-sp)*$global-font-unit;
    }


    .page-product .func-desc-line {
        margin-top:(48/$calc-sp)*$global-font-unit;
        height: (10/$calc-sp)*$global-font-unit;
    }

    .page-product .func-desc>div {
        width: 87.5%;
        width: 100%;
        padding: 0 20px;
    }

    .page-product .func-desc-content {
        // display: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .page-product .func-desc-detial {
       // display: none;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }

    .page-product .phone-fun-desc {
        display: flex;
        margin-top:(15/$calc-sp)*$global-font-unit;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size:(30/$calc-sp)*$global-font-unit;
        font-family:SFNSDisplay,$global-default-family;
        color:rgba(32,32,32,1);
        line-height:(35/$calc-sp)*$global-font-unit;
    }

    .page-product .func-title-all {
        display: none;
    }

    .page-product .func-desc-content :nth-child(1) {
        font-size:(30/$calc-sp)*$global-font-unit;
        font-family:NotoSansCJKjp-Bold,$global-default-family;
        font-weight:bold;
        color:rgba(51,51,51,1);
        line-height:(50/$calc-sp)*$global-font-unit;
    }

    .page-product .func-desc-content :nth-child(2) {
        white-space: pre-wrap;
        font-size:(14/$calc-sp)*$global-font-unit;
        font-family:NotoSansCJKjp-Bold,$global-default-family;
        font-weight:bold;
        color:rgba(51,51,51,1);
        line-height:(20/$calc-sp)*$global-font-unit;
        text-align: center;
        margin-top: (20/$calc-sp)*$global-font-unit;
    }

    .page-product .func-desc-content :nth-child(3) {
        font-size:(14/$calc-sp)*$global-font-unit;
        font-family:NotoSansCJKjp-Bold,$global-default-family;
        font-weight:bold;
        color:rgba(51,51,51,1);
        line-height:(20/$calc-sp)*$global-font-unit;
        text-align: center;
      
    }

    .page-product .func-desc-detial {
        font-size:(12/$calc-sp)*$global-font-unit;
        font-family:NotoSansCJKjp-Regular,$global-default-family;
        font-weight:400;
        color:rgba(51,51,51,1);
        margin-top: (20/$calc-sp)*$global-font-unit;
        line-height:(26/$calc-sp)*$global-font-unit;
    }

    .page-product .battery-list :nth-child(1) {
        font-size:(16/$calc-sp)*$global-font-unit;
        font-family:NotoSansCJKjp-Bold,$global-default-family;
        font-weight:bold;
        color:rgba(255,255,255,1);
        line-height:(24/$calc-sp)*$global-font-unit;
        letter-spacing:2px;
        text-align: center;
    }

    .page-product .battery-list >:nth-child(2) {
        display: none;
    }

    .page-product .battery-banner {
       
        height: (350/$calc-sp)*$global-font-unit;
    }

    .page-product .battery-list {
        margin-top: (10/$calc-sp)*$global-font-unit;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .page-product .battery-list li {
        width: 67%;
        height: (70/$calc-sp)*$global-font-unit;
    }

    .page-product .battery-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .page-product .phone-battery-info {
        display: block;
        color: #fff;
        font-size:(20/$calc-sp)*$global-font-unit;
        font-family:SFNSDisplay,$global-default-family;
        width: 100%;
        text-align: center;
        line-height:(23/$calc-sp)*$global-font-unit;
        letter-spacing:3px;
    }

    .page-product .battery-sum {
        display: none;
    }

    .page-product  .phone-battery-sum {
        display: block;
        font-size:(12/$calc-sp)*$global-font-unit;
        font-family:NotoSansCJKjp-Bold,$global-default-family;
        font-weight:bold;
        color:rgba(255,255,255,1);
        line-height:(26/$calc-sp)*$global-font-unit;
        margin-top: (20/$calc-sp)*$global-font-unit;
    }

    .page-product .fun-list-all {
        padding-bottom:  (46/$calc-sp)*$global-font-unit;;
        padding-top: 0;
    }

    .page-product .fun-list-all li {
        width: 100%;
        height:auto;
      //  height :(353/$calc-sp)*$global-font-unit;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-top: (26/$calc-sp)*$global-font-unit;
        float: none;
    }

    .page-product .func-item-img {
        margin: 0;
        height: auto;
        // text-align: center;
        // display: flex;
        // justify-content: center;
    }

    .page-product .func-item-img img {
        height: (180/$calc-sp)*$global-font-unit;
        width: (180/$calc-sp)*$global-font-unit;
    }

    .page-product .func-item-desc {
    display: flex;
  //  justify-content: center;
    flex-direction: column;
    align-items: center;
    }

    .page-product .func-item-desc :nth-child(1) {
        font-size:(20/$calc-sp)*$global-font-unit;
        font-family:NotoSansCJKjp-Regular,$global-default-family;
        font-weight:400;
        color:rgba(51,51,51,1);
        line-height:(26/$calc-sp)*$global-font-unit;
    }

    .page-product .func-item-desc :nth-child(2){
        justify-content: flex-start;
        width: 100%;
        font-size:12px;
        font-family:NotoSansCJKjp-Regular,$global-default-family;
        font-weight:400;
        color:rgba(51,51,51,1);
        line-height:26px;
        margin-top: (10/$calc-sp)*$global-font-unit;
    }

    .page-product .func-item-desc :nth-child(3) {
        justify-content: flex-start;
        width: 100%;
        font-size:12px;
        font-family:NotoSansCJKjp-Regular,$global-default-family;
        font-weight:400;
        color:rgba(51,51,51,1);
        line-height:26px;
    }

    .page-product .fun-list-all>:nth-child(2) {
        margin: 0;
    }

    .page-product .fun-list-all>:nth-child(4) {
        margin: 0;
    }

    .page-product2 .func-kinds {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .page-product2 .func-kinds-img {
        width: 100%;
      
    }

    .page-product2 .func-kinds-img :nth-child(1) {
        position: relative;
    }
    
    .page-product2 .func-kinds-desc {
        margin: 0 ;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .page-product2 .func-kinds-desc>:nth-child(1) {
        font-size:(16/$calc-sp)*$global-font-unit;
        font-family:DINAlternate-Bold,$global-default-family;
        font-weight:bold;
        color:rgba(17,17,17,1);
        line-height:(19/$calc-sp)*$global-font-unit;
        letter-spacing:6px;
        margin-top: (50/$calc-sp)*$global-font-unit;
    }

    .page-product2 .func-kinds-desc>:nth-child(2) {
        font-size:(20/$calc-sp)*$global-font-unit;
        font-family:NotoSansCJKjp-Bold,$global-default-family;
        font-weight:bold;
        color:rgba(17,17,17,1);
        line-height:(29/$calc-sp)*$global-font-unit;
        margin-top: (18/$calc-sp)*$global-font-unit;
    }
    
    .page-product2 .func-kinds-desc>:nth-child(3) {
        font-size:(12/$calc-sp)*$global-font-unit;
        font-family:NotoSansCJKjp-Regular,$global-default-family;
        font-weight:400;
        color:rgba(17,17,17,1);
        line-height:(26/$calc-sp)*$global-font-unit;
        margin-top: (18/$calc-sp)*$global-font-unit;
    }

    // .page-product >.kinds-icon :nth-child(3), :nth-child(4) {
    //     margin-top: (35/$calc-sp)*$global-font-unit;
    // }

    .page-product2 .func-kinds-desc p {
       // width: 100%;
      //  text-align: center;
    }

    .page-product .kinds-icon {
        display: flex;
        flex-wrap: wrap;
    }

    .page-product .kinds-icon img {
        height: (147/$calc-sp)*$global-font-unit;
    }

    .page-product .kinds-icon li {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page-product .kinds-icon  :nth-child(3){
        margin-top: (15/$calc-sp)*$global-font-unit;
    }

    .page-product .kinds-icon  :nth-child(4){
        margin-top: (15/$calc-sp)*$global-font-unit;
    }

    .page-product2 .heatset-banner {
        margin-top: (94/$calc-sp)*$global-font-unit;
    }

    .page-product .heatset-color {
        height: auto;
    }

    .page-product .color-li {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .page-product .color-list {
        margin: 0 ;
        padding: 0;
        // margin-top: (30/$calc-sp)*$global-font-unit;
    }

    .page-product .color-list :nth-child(1) {
        margin-left: 0 !important;
    }

    .page-product .color-li>p {
        height: (72/$calc-sp)*$global-font-unit;
        display: flex;
        align-items: center;

        font-size:(20/$calc-sp)*$global-font-unit;
        font-family:DINAlternate-Bold,$global-default-family;
        font-weight:bold;
        color:rgba(17,17,17,1);
        line-height:(24/$calc-sp)*$global-font-unit;
        letter-spacing:3px;
    }

    .page-product .color-list li{
        width: (16/$calc-sp)*$global-font-unit !important;
        height: (16/$calc-sp)*$global-font-unit !important;
        margin-left: (18/$calc-sp)*$global-font-unit !important;
    }

    .page-product .color-prod {
        display: none;
    }

    .phone-color-prod {
        width: 100%;
        display: flex !important;
        justify-content: center;
        align-items: center;
        padding-top: (48/$calc-sp)*$global-font-unit ;
    }

    .page-product .heatset-color-main {
        padding-bottom: (48/$calc-sp)*$global-font-unit ;
    }

    .phone-color-prod li {
        margin-left: (10/$calc-sp)*$global-font-unit ;
    }

    .phone-color-prod li img {
        height: (79/$calc-sp)*$global-font-unit ;
    }

    .page-product .use-manual {
        height: auto;
        padding: 0 20px 0 20px;
    }

    .page-product .use-manual-img {
        width: 100%;
    }

    .page-product .use-manual-desc {
        width: 100%;
        
    }

    .page-product .left-desc {
        display: none;
    }

    .page-product .manual-desc {
        justify-content: center;
    }

    .page-product .right-desc {
        height: (54/$calc-sp)*$global-font-unit ;
        width: 71.4%;
        font-size:(15/$calc-sp)*$global-font-unit ;
        font-family:DINAlternate-Bold,$global-default-family;
        font-weight:bold;
        color:rgba(33,150,243,1);
        //line-height:17px;
        letter-spacing:2px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 4px solid #0698ec
    }

    .page-product .manual-title { 
        font-size:(20/$calc-sp)*$global-font-unit ;
        font-family:DINAlternate-Bold,$global-default-family;
        font-weight:bold;
        margin-top: (24/$calc-sp)*$global-font-unit ;
        letter-spacing: 3px;
        overflow: hidden;
    }

    .page-product .black-title {
        padding: 15px 5px 15px 0;
    }

    .page-product .white-title {
        padding: 15px 15px 15px 5px;
    }

    .page-product .manual-desc {
        margin-top: (30/$calc-sp)*$global-font-unit !important;
    }

    .page-product .include-wrap-desc {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .page-product .include-wrap {
        height: auto;
        padding: (53/$calc-sp)*$global-font-unit 0;
    }

    .page-product .include-wrap-desc :nth-child(1) {
        font-size:(20/$calc-sp)*$global-font-unit;
        font-family:DINAlternate-Bold,$global-default-family;
        font-weight:bold;
        color:rgba(17,17,17,1);
        line-height:(24/$calc-sp)*$global-font-unit;
        letter-spacing:3px;
    }

    .page-product .include-wrap-desc :nth-child(2) {
        font-size:(12/$calc-sp)*$global-font-unit;
        font-family:NotoSansCJKjp-Bold,$global-default-family;
        font-weight:bold;
        color:rgba(17,17,17,1);
        line-height:(25/$calc-sp)*$global-font-unit;
        letter-spacing:2px;
    }

    .page-product .include-img {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: (40/$calc-sp)*$global-font-unit;
    }

    .page-product .include-img img {
        width: 62.5%;
        
    }

    .page-product .product-imglist {
        height: (224/$calc-sp)*$global-font-unit;
    }

    .page-product .product-imglist-main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0 ;
    }

    .page-product .product-imglist-main>:nth-child(1), .page-product .product-imglist-main>:nth-child(2) {
        width: 100%;
    }

    .page-product .product2-img {
        height: 80%;
    }

    .page-product .product1-img {
        height: 80%;
    }

    .page-product .include-wrap-main {
        padding: 0;
    }

    .page-product .use-manual-img img {
        width: 62.5%;
    }

    

    .page-product .product-info>:nth-child(1) {
        font-size:(30/$calc-sp)*$global-font-unit;
        font-family:SFNSDisplay,$global-default-family;
        color:rgba(255,255,255,1);
        line-height:(35/$calc-sp)*$global-font-unit;
    }

    .page-product .product-info>:nth-child(2) {
        font-size:(12/$calc-sp)*$global-font-unit;
        font-family:SFNSDisplay,$global-default-family;
    }

    .page-product .fun-sounds {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: (26/$calc-sp)*$global-font-unit;
    }

    .page-product .fun-sounds-img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page-product .fun-sounds-img img{
        width: 93%;
       
    }

    .page-product .fun-sounds-effect {
        margin-top: (42/$calc-sp)*$global-font-unit;
        font-size:(16/$calc-sp)*$global-font-unit;
        font-family:DINAlternate-Bold,$global-default-family;
        font-weight:bold;
        color:rgba(17,17,17,1);
        line-height:(19/$calc-sp)*$global-font-unit;;
        letter-spacing:6px;
        text-align: center;
    }

    .page-product .fun-sounds-title { 
        margin-top: (18/$calc-sp)*$global-font-unit;
        font-size:(20/$calc-sp)*$global-font-unit;
        font-family:NotoSansCJKjp-Bold,$global-default-family;
        font-weight:bold;
        color:rgba(17,17,17,1);
        line-height:(29/$calc-sp)*$global-font-unit;
        text-align: center;
    }

    .page-product .fun-sounds-desc {
        margin-top: (18/$calc-sp)*$global-font-unit;
        font-size:(12/$calc-sp)*$global-font-unit;
        font-family:NotoSansCJKjp-Regular,$global-default-family;
        font-weight:400;
        width: auto;
        color:rgba(17,17,17,1);
        line-height:(26/$calc-sp)*$global-font-unit;
    }

    .banner-wrap-none {
        background: transparent !important;
    }    

}