@font-face {
  font-family: "DIN-Bold";
  src: url("../font/Din/DIN-Bold.otf") format('truetype');
}

@font-face {
  font-family: "DIN-BoldAlternate";
  src: url("../font/Din/DIN-BoldAlternate.otf") format('truetype');
}

@font-face {
  font-family: "DIN-Medium";
  src: url("../font/Din/DIN-Medium.otf") format('truetype');
}

@font-face {
  font-family: "NotoSansCJKjp-Black";
  src: url("../font/Noto/NotoSansCJKjp-Black.otf") format('truetype');
}

@font-face {
  font-family: "NotoSansCJKjp-Bold";
  src: url("../font/Noto/NotoSansCJKjp-Bold.otf") format('truetype');
}

@font-face {
  font-family: "Rubik300";
  src: url("../font/Rubik/Rubik300.ttf");
}

@font-face {
  font-family: "Rubik300italic";
  src: url("../font/Rubik/Rubik300italic.ttf");
}