mixin indexTitle(obj)
  .index-title-wrap
    ul.index-title-cont.main-wrap
      li
        h3= obj.title
      -for(var i=0; i<obj.liList.length; i++){
      li
        -for(var j=0; j<obj.liList[i].contList.length; j++){
        p= obj.liList[i].contList[j]
        -}
      -}