.func-list.main-wrap.scroll
        ul.fun-list-all
            li.scroll 
                .func-item-desc
                    p 耳に優しい装着感
                    p SpinFit：特許技術を使用した新機能イヤーチップ。 
                    p Tragus Fit（トラガスフィット）：耳珠（顔側の耳孔の前にある三角に出っ張った軟骨）を利用した装着方法。この二つを採用することで、今までにはないフィット感を実現します。
                .func-item-img
                    img(src="image/product2/function-graphic02.svg" alt="FUNOHM")
            li.scroll 
                .func-item-desc
                    p 途切れにくいワイヤレス
                    p 圧倒的なタフなボディ落下などの衝撃に強いボディは、高音質との両立が難しいとされてきた高い防滴性も兼ね備え、ランニングやフィットネスクラブといったアクティブなシーンでも活躍。
                .func-item-img
                    img(src="image/product2/function-graphic01.svg" alt="FUNOHM")
            li.scroll 
                .func-item-desc
                    p ドイツVARTA社製バッテリー
                    p 通常使用で7時間を超える長寿命。
                    p 1回の充電で通勤、通学で1週間使えることを目標にさらに旅先や飛行機移動の際にも耐えうる再生時間を実現。
                .func-item-img
                    img(src="image/product1/function03.svg" alt="FUNOHM")
            li.scroll 
                .func-item-desc
                    p 衝撃＆汗に負けないタフネスボディ
                    p 4mからの落下にも耐える強度は、高音質との両立が難しいとされる高い防滴性も兼ね備え、ランニングやフィットネスといったアクティブなシーンでも活躍します。
                .func-item-img
                    img(src="image/product1/function02.svg" alt="FUNOHM")
            .clear
        .fun-sounds.scroll 
                .fun-sounds-content    
                    .fun-sounds-effect 
                        p GOOD SOUNDS
                    .fun-sounds-title
                        p 圧倒的にいい音
                    .fun-sounds-desc
                        p 大口径13mmスピーカードラーバーを採用。 
                        p 圧倒的に迫力のある音で様々なジャンルの音楽を楽しむことができます。 また、原音を忠実に再生する様に周波数特性はフラットなチューニング。
                .fun-sounds-img
                    img(src="image/product2/sound-img.png" alt="FUNOHM")    