footer
  .main-wrap.footer-main
    .contact-wrap
      .contact-link
        a.logo-link(href="./index.html")
          img(src="./image/Logo-product-white.svg" alt="FUNNOHM")
        .media-link
          a.t-icon(href="https://www.instagram.com/funohm/" target="_blank")
          a.f-icon(href="https://www.facebook.com/funohm/" target="_blank")
          a.b-icon(href="https://twitter.com/funohm1" target="_blank")
      dl.footer-product-col.footer-link-wrap
        dt Product
        dd
          a(href="./product1.html") F1
        dd
          a(href="./product2.html") F2
      dl.footer-company-col.footer-link-wrap
        dt Company
        dd
          a(href="./company.html") About
        dd
          a(href="./philosophy.html") Phylosophy
        dd
          a(href="./shopList.html") Shop list
      .footer-tel-location
        .location
          p Location
          p 〒102-0083 東京都千代田区 麹町2-14 第1茜ビル6
          p 1st akane Bld.6, 2-14, Kojimachi, Chiyoda-ku, Tokyo, 102-0083, Japan

    .bottom-wrap
      .http-wrap
        a(href="./privacyPolicy.html") privacy policy
      p.company-tag &#169 2018 FUNOHM Inc.