.product-imglist.scroll
    .main-wrap.product-imglist-main
        a(href="./product1.html").product-imglist-img
            img.product1-img(src="image/product/white.png" alt="wireless earphone F1")
            .product-info
                p F1
                p wireless earphone
            .product-hover
            .product-show1
        a(href="./product2.html").product-imglist-img
            img.product2-img(src="image/product/black.png" alt="wireless earphone F2")
            .product-info
                p F2
                p wireless earphone
            .product-hover
            .product-show2