extends ../layouts/_default.pug
block meta
  title 会社概要-完全ワイヤレスイヤホン「ファノーム」公式サイト
block page_option
  - page_class.push('page-padding-top page-commercial')
block content
  -
    var titleObj = {
      'title1': 'COMMERCIAL',
      'title2': 'CODE',
      'titleDesc': ['特定商取引法', '店名および']
    }
    var contentListObj = [{
      title: '販売社名',
      content: ['あああああ']
    }, {
      title: '販売統括責任者',
      content: ['あああああ']
    }, {
      title: '所在地',
      content: ['あああああ']
    }, {
      title: '電話番号',
      content: ['あああああ']
    }, {
      title: 'メールアドレス',
      content: ['あああああ']
    }, {
      title: '販売URL',
      content: ['ああ']
    }, {
      title: 'お支払い方法',
      content: ['[代金引換]',
      '1万円未満：324円（税込）',
      '1万円以上～3万円未満：432円（税込）',
      '3万円以上～10万円未満：648円（税込）',
      '10万円以上～30万円未満：1,080円（税込）',
      '[各種クレジットカード]',
      '決済可能カード一覧',
      '●VISA/MasterCard/JCB/AMEX/DINERSがご利用頂けます。',
      '●ご利用可能なお支払方法',
      '一括払い / 分割払い / ボーナス一括払い / リボ払い',
      '[Amazonペイ]',
      'AmazonペイではAmazonアカウントを使って面倒な情報入力を省略できます。',
      '[銀行振込]',
      '銀行振込でのお支払いの場合は、お申し込み後、１週間以内に弊社銀行口座、',
      ' 三井住友銀行 新座志木支店 普通預金 口座番号7275934 ',
      '口座名義アイディーディーエンジニアリング株式会社まで、お支払いください。'
      ]
    }, {
      title: '商品代金以外の必要金額',
      content: ['商品代金以外に下記料金が別途かかります。', '1. 消費税', '2. 送料', '3. 代金引換で購入された場合は、代金引換手数料']
    }, {
      title: '販売数量',
      content: ['限定販売']
    }, {
      title: 'お申込み有効期限',
      content: ['代金引換商品は2週間以内、前払い商品は7日間以内にご入金を確認できなかった場合は、', 'キャンセルされたものとみなし、ご注文を取消させていただきます。']
    }, {
      title: '商品引き渡し時期',
      content: ['入金確認後に発送致します。通常発送期間、2営業日以内。',
      '※ ただし、在庫の無い場合、繁忙期中は遅れる場合がございます。',
      'その場合は必ずご連絡差し上げます。',
      '代金引換による商品の配達、および代金回収業務は、運送会社が代行致します。'
      ]
    }, {
      title: '商品引き渡し方法',
      content: ['宅配便による発送']
    }, {
      title: '返品・不良品について',
      content: ['下記商品は、無料で交換させていただきます。',
      '商品到着後、7日間以内に弊社まで着払いにてご返送ください。',
      '・申し込まれた商品と届いた商品が異なっている場合',
      '・初期不良'
      ]
    }, {
      title: '返品・不良品について',
      content: ['本製品が鑑別した真偽判定結果は証券価値を保証するものではありません。', '判定結果により損害が発生しても責任を負いかねますので、ご了承下さい。']
    }]
  -
  +shopTitle(titleObj)
  .commercial-content.main-wrap
    h2 特定商取引法に基づく表記
    -for(var i=0; i<contentListObj.length; i++){
    .cont-row
      span= contentListObj[i].title
      .text-cont-wrap
        -for(var j=0; j<contentListObj[i].content.length; j++){
        p= contentListObj[i].content[j]
        -}
    -}