extends ../layouts/_default.pug
block meta
  title 企業理念-完全ワイヤレスイヤホン「ファノーム」公式サイト
block page_option
  - page_class.push('page-philosophy')
block content
  .philosophy-home-wrap.x-home-height
    .home-content-wrap
      .content-txt-wrap
        h2 FLY on your HEARt
        h3 耳に 心に 届く
    .home-cont-img
      .side-icon-img
  .philosophy-hear-wrap
    .cont-img-wrap
      .side-icon-img
    .heart-content-wrap
      .heart-content
        p 音楽を聴く。情報を得る。会話をする。指示をする。耳を介してはじまる、暮らしのすべてを快適で心地よく。小さな相棒FUNOHMが、あらゆる面からあなたの毎日に寄り添います。
  include ../includes/_contactUs.pug