extends ../layouts/_default.pug
block meta
    title F2 製品ページ-完全ワイヤレスイヤホン「ファノーム」公式サイト
block page_option
  - page_class.push('page-product2 page-product')
block content
  .banner-wrap.x-home-height
    .banner-content.main-wrap
        .banner-content-posi
            .banner-img.scroll
                img(src="image/product2/F2-HERO.png" alt="FUNOHM")
            .banner-desc.scroll
                p 
                    img(src="image/product2/h1.png" alt="FUNOHM")
                p wireless earphone
                p 連続20時間再生の長寿命バッテリーに加え、4mからの落下にも耐える耐衝撃性と、雨や汗にも強い防水性。
                p 圧倒的なタフさと、耳に優しいフィット感でどんなシーンにも寄り添う完全ワイヤレスイヤフォン。
  .phone-banner.product2-phone-color
        .phone-banner-title.box.scroll.scroll-delay
            img(src="image/product2/h1.png" alt="FUNOHM")
            p wireless earphone
        .phone-banner-desc.box
            p.scroll.scroll-delay 連続20時間再生の長寿命バッテリーに加え、4mからの落下にも耐える耐衝撃性と、雨や汗にも強い防水性。圧倒的なタフさと、耳に優しいフィット感でどんなシーンにも寄り添う完全ワイヤレスイヤフォン。
        .phone-banner-img.box
            img.scroll.scroll-delay(src="image/product2/F2-HERO.png" alt="FUNOHM")
  .phone-wrap.box
    .func-wrap
        .run-img.scroll-left.add-delay
            img(src="image/product2/AdobeStock_193991203.png" alt="FUNOHM")
        .rock-img.scroll-right.add-delay
            img(src="image/product2/AdobeStock_78454090.png" alt="FUNOHM")
        .func-desc   
            img.scroll.add-delay(src="image/product2/F1-earstabi.png" alt="FUNOHM")
            .func-main
                
                .func-desc-line.scroll
                .phone-fun-desc.scroll 
                    p GOOD SOUNDS 
                    p ALL AROUND
                    p DAYS
                .func-title-all.scroll 
                    .func-desc-title GOOD SOUNDS 
                    .func-desc-title ALL AROUND DAYS
                .func-desc-content.scroll  
                    p 圧倒的に途切れない
                    p 業界に先駆けて クアルコム社 BT-ICチップ QCC3020搭載
                .func-desc-detial.scroll  スマートフォンのBluetoothを左右のイヤホンそれぞれに接続する TWS Plus 方式を採用。ICチップ「QCC3020」を 搭載することで音が途切れにくくなりました。
    .battery-main.scroll
        .battery-banner
            .main-wrap.battery-content
                .phone-battery-info
                    p 20 STRAIGHT 
                    p HOURS
                ul.battery-list
                    li 
                        p  20時間連続再生OK
                        p スタミナモデル
                    li イヤーピースは一人ひとりの耳の個性を吸収、微調整し、高いフィット感が可能に。強い力も加わらないので長時間装着しても痛くなりにくい設計。
                .battery-sum  20 STRAIGHT HOURS
                .phone-battery-sum
                    p イヤーピースは一人ひとりの耳の個性を吸収、微調整し、高いフィット感が可能に。強い力も加わらないので長時間装着しても痛くなりにくい設計。
                 
        .func-list.main-wrap.scroll
            ul.fun-list-all
                li.scroll 
                    .func-item-desc
                        p 耳に優しい装着感
                        p SpinFit：特許技術を使用した新機能イヤーチップ。 
                        p Tragus Fit（トラガスフィット）：耳珠（顔側の耳孔の前にある三角に出っ張った軟骨）を利用した装着方法。この二つを採用することで、今までにはないフィット感を実現します。
                    .func-item-img
                        img(src="image/product2/function-graphic02.svg" alt="FUNOHM")
                li.scroll 
                    .func-item-desc
                        p 途切れにくいワイヤレス
                        p 2つのビームフォーミングマイクロフォンによって途切れにくい音声を実現し、クリアな音声を聞くことができます。
                    .func-item-img
                        img(src="image/product2/function02.svg" alt="FUNOHM")
                li.scroll 
                    .func-item-desc
                        p ドイツVARTA社製バッテリー
                        p 通常使用で20時間を超える長寿命。
                        p 1回の充電で通勤、通学で1週間使えることを目標にさらに旅先や飛行機移動の際にも耐えうる再生時間を実現。
                    .func-item-img
                        img(src="image/product2/function-graphic03.svg" alt="FUNOHM")
                li.scroll 
                    .func-item-desc
                        p 衝撃＆汗に負けないタフネスボディ
                        p 4mからの落下にも耐える強度は、高音質との両立が難しいとされる高い防滴性も兼ね備え、ランニングやフィットネスといったアクティブなシーンでも活躍します。
                    .func-item-img
                        img(src="image/product2/function-graphic04.svg" alt="FUNOHM")

                .clear
            .fun-sounds.scroll 
                .fun-sounds-content    
                    .fun-sounds-effect 
                        p GOOD SOUNDS
                    .fun-sounds-title
                        p 圧倒的にいい音
                    .fun-sounds-desc
                        p 大口径13mmスピーカードラーバーを採用。 
                        p 圧倒的に迫力のある音で様々なジャンルの音楽を楽しむことができます。 また、原音を忠実に再生する様に周波数特性はフラットなチューニング。
                .fun-sounds-img
                    img(src="image/product2/sound-img.png" alt="FUNOHM")     
            .func-kinds.scroll
                .func-kinds-img
                    img(src="image/product2/F1-FRONT-black.png" alt="FUNOHM")
                    img.animation-show(src="image/product2/Ai-icon.png" alt="FUNOHM")
                .func-kinds-desc
                    p AI ASSISTANT
                    p 2回プッシュでAIアシスタント
                    p 本体ボタンを２回押すことでSiriやGoogleアシスタントに接続。イヤホンをAIスピーカーと同様に使えることでハンズフリーで 天気情報収集、お買い物などが楽します。
                    ul.kinds-icon
                        li
                            img(src="image/product2/assistant-icon-01.svg" alt="FUNOHM")
                        li
                            img(src="image/product2/assistant-icon-02.svg" alt="FUNOHM")
                        li
                            img(src="image/product2/assistant-icon-03.svg" alt="FUNOHM")
                        li
                            img(src="image/product2/assistant-icon-04.svg" alt="FUNOHM")            
        .heatset-banner.main-wrap
            ul.heatset-banner-list.pc
                li.heatset-green.heatset-product 
                    img(src="image/product2/レイヤー 3.png" alt="FUNOHM")   
                li.heatset-grey.heatset-product 
                    img(src="image/product2/レイヤー 1.png" alt="FUNOHM")   
                li.heatset-red.heatset-product   
                    img(src="image/product2/レイヤー 2.png" alt="FUNOHM")  
            ul.heatset-banner-list.phone
                li.heatset-green.heatset-product 
                    img(src="image/product2/レイヤー 2.png" alt="FUNOHM")   
                li.heatset-grey.heatset-product 
                    img(src="image/product2/レイヤー 3.png" alt="FUNOHM")   
                li.heatset-red.heatset-product   
                    img(src="image/product2/レイヤー 1.png" alt="FUNOHM")                          
    .heatset-color.scroll 
        .heatset-color-main.main-wrap  
            .color-li
                p COLOR VARIATION
                ul.color-list
                    li
                    li
                    li
                    li
                    li
            .color-prod
                ul.top
                    li
                        img(src="image/product/F1-FRONT-Lblack.png" alt="FUNOHM")
                    li
                        img(src="image/product2/F1-FRONT-multi.png" alt="FUNOHM")
                ul.bottom
                    li
                        img(src="image/product2/F1-FRONT-red02.png" alt="FUNOHM")
                    li
                        img(src="image/product2/F1-FRONT-green02.png" alt="FUNOHM")
                    li
                        img(src="image/product2/F1-FRONT-grey02.png" alt="FUNOHM")
            ul.phone-color-prod.phone
                li
                    img(src="image/product/F1-FRONT-Lblack.png" alt="FUNOHM")
                li
                    img(src="image/product2/F1-FRONT-multi.png" alt="FUNOHM")
                li
                    img(src="image/product2/F1-FRONT-red02.png" alt="FUNOHM")
                li
                    img(src="image/product2/F1-FRONT-green02.png" alt="FUNOHM")
                li
                    img(src="image/product2/F1-FRONT-grey02.png" alt="FUNOHM")    
            .clear
    .use-manual.scroll
        .main-wrap.use-manual-main
            .use-manual-img
                img(src="image/product1/Group@2x.png" alt="FUNOHM")
            .use-manual-desc
                .manual-title
                    .black-title FUNOHM
                    .white-title USER MANUAL
                .manual-desc
                    .left-desc 取扱説明書をダウンロード
                    a(href="http://www.funohm.com/support/download/F2-manual.pdf").right-desc 取扱説明はこちら
                .manual-desc
                    .left-desc 製品カタログをダウンロード
                    a(href="http://www.funohm.com/support/download/F2_catalogue_web.pdf").right-desc カタログはこちら
            .clear
    .include-wrap.scroll
        .main-wrap.include-wrap-main
            .include-wrap-desc
                p INCLUDE ITEMS
                p 付属品
            .include-img
                img.pc(src="image/product1/include.png" alt="FUNOHM")
                img.phone(src="image/product/include-items.svg" alt="FUNOHM")
            .clear
    include /includes/_productLink.pug













